<!-- From interface -->
<h1>Store Name : {{storeInfo.name}}</h1>

<!-- From class -->
<!-- <h1>Store Name from class : {{storedata.name}}</h1> -->

<img *ngIf="showImg" src="{{storeInfo.coverImage}}" >
<!-- <img src="{{storedata.imgURL}}" > -->

<h3>
    <!-- {{storeInfo.branches}} -->
</h3>

<!-- structure directive -->
<!-- loop on branches -->
<!-- *ngFor -->
<ul>
    <li *ngFor="let loc of storeInfo.branches">{{loc}}</li>
</ul>


<!-- toggle button -->
<!-- event binding -->
<button (click)="toggleImage()">Toggle img</button>